* {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}
*, *:before, *:after {
  box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
h1 {
	font-family: 'Lobster Two', cursive;
	font-size: 3rem;
	padding: 20px 0 20px 0;
	border-bottom: 2px solid #F8C471;
	color:#212F3D;
}
ul li {
	list-style: none;
	padding: 7px;
	color: #2C3E50;
	font-family: 'Merienda', cursive;
}
/*------------------- MENU STYLING --------------*/
.container {
	width: 100%;
	height:auto;
	padding-top: 50px;
	background-image: url(img/background.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.menu {
	width: 70%;
	margin: 0 auto;
	background-color: rgb(213,158,106, 0.8);
	text-align: center;
	font-size: 1.2rem;	
	border-radius: 4px;
	
}
.option {
	width: 100%;
}
.menu-list {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
}
.menu-list h2 {
	width: 50%;
	text-align: left;
}
.drink {
	width: 25%;
	line-height: 50px;
	font-size: 1.1rem;
}
.price {
	width: 25%;
	line-height: 50px;
}
.bot {
	width: 70%;
	height: 50px;
	margin: 0 auto;
	text-align: center;
	line-height: 50px;
}
.bot a {
	text-decoration: none;
	color:#212F3D;
	font-size: 0.7rem;
	text-transform: uppercase;
	font-family: 'Merienda', cursive;
}
.bot a:hover {
	text-decoration: underline;
}













